*{
    padding: 0;
    margin: 0;

}

header {
    display: flex;
    justify-content: center;
    background-color: green;
    padding: 48px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    margin-top: 50px;
}

#color-palette {
    margin-left: 48px;
    margin-right: 48px;
}

.selected {
    background-color: 
}

.color {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#color-1 {
    background-color: black;
}

#color-2 {
    background-color: blueviolet;
}

#color-3 {
    background-color: brown; 
}

#color-4 {
    background-color: blue;
}

#pixel-board {
    margin: 48px;
}

.pixel {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: -2px;
    background-color: white;
}

.margem-geral {
    margin: 48px;
}